html,body
{
	margin:0;
	padding:0;
	font-family: Verdana;
	color:#444;

}

#tasks
{
	position:absolute;
	top:0;
	left:0;
	height:8%;
	width:100%;
	border-bottom:#DDD .15em solid;
}

#logo
{
	position:relative;
	display:inline-block;
	left:0;
	height:98%;
	
}

#deleteLibrary
{
	position:absolute;
	display:block;
	width:11%;
	top:30%;
	left:17%;
	text-align:center;
	font-size:100%;
	font-weight:bold;
    background:#06D;
    border:solid .25em #333;
	border-radius: 3px;
	color:#FFF;
	cursor:pointer; cursor:hand;
}

#importProgress
{
	position:absolute;
	display:block;
	width:15%;
	top:30%;
	left:37%;
	text-align:center;
	font-size:100%;
	font-weight:bold;
    background:#333;
    border:solid .25em #333;
	border-radius: 3px;
	color:#FFF;
}

#add_files
{
	position:relative;
	left:0;
	top:0;
	width:100%;
	cursor:pointer;
    cursor:hand;
    background:#06D;
}

#importSongCount
{
	position:absolute;
	width:100%;
	top:0;
	background:transparent;
}

div.lastfm
{
	position:absolute;
	top:30%;
	left:62%;
	width:11%;
	padding:0;
	margin:0;
	background:#D51007;
	font-weight:bold;
	font-size:100%;
	text-align:center;
    border:solid .25em #333;
	border-radius: 6px;
	cursor:pointer; cursor:hand;
	color:#FFF;
	
}

div.lastfm > div
{
	position:absolute;
	top:98%;
	left:-.4em;
	width:100%;
	z-index:1;
	background:#D51007;
	display:none;
	padding:0;
	margin:0;
	font-size:70%;
	text-align:left;
	border:solid .4em #333;
	border-top:none;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

div.lastfm > div > ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}

div.lastfm > div > ul > li
{
	margin:0;
	padding:3%;
}

div.lastfm > div > ul > li > a.item
{
	vertical-align:bottom;
	text-decoration:none;
	color:#FFF;
}

div.lastfm > div > ul > li:hover
{
	background:#8B0000;
}


#search
{
	position:absolute;
	right:7%;
	top:30%;
	width:12%;
	font-size:100%;
    background:#06D;
    border:solid .25em #333;
	border-radius:6px;
	color:#FFF;
	margin:0;
	padding:0 0 0 .5%;
}

#searchButton
{
	position:absolute;
	right:.25%;
	top:30%;
	font-weight:bold;
    background:#06D;
    border:solid .25em #333;
	border-radius:6px;
	cursor:pointer; cursor:hand;
	color:#FFF;
}

#titles
{
	position:absolute;
	top:9%;
	height:2.5%;
	width:96%;
	left:3%;
}

#artistsSectionTitle
{
	position:relative;
	display:inline-block;
	width:32.5%;
	font-weight:bold;
	font-size:1.25em;
	line-height:0%;
	text-align:left;
	vertical-align:text-top;
}

#albumsSectionTitle
{
	position:relative;
	display:inline-block;
	width:33%;
	font-weight:bold;
	font-size:1.25em;
	line-height:0;
	text-align:left;
	vertical-align:text-top;
}

#songsSectionTitle
{
	position:relative;
	display:inline-block;
	width:30%;
	font-weight:bold;
	font-size:1.25em;
	line-height:0;
	text-align:left;
	vertical-align:text-top;
}

#mid
{
	position:absolute;
	top:11%;
	height:66%;
	width:96%;
	left:2.5%;
}

#artistSection
{
	position:relative;
	float:left;
	width:15%;
	height:100%;
	border-top:.1em solid #DDD;
	border-bottom:.1em solid #DDD;
	overflow:auto;
}

#albumSection
{
	position:relative;
	float:left;
	width:59%;
	height:100%;
	overflow:auto;
	border:.1em solid #DDD;
	font-size:.85em;
}

#songSection
{
	position:relative;
	float:left;
	width:25%;
	height:100%;
	border-top:.1em solid #DDD;
	border-bottom:.1em solid #DDD;
	overflow:auto;
}

.albumArt
{
	float:right;
}

table
{
	border-collapse:collapse;
}

.selectable
{
	position:relative;
	width:98%;
	cursor:pointer;
	font-size:.95em;
	vertical-align:middle;
}

tr.selectable
{
	height:100%;
	margin:0;
	padding:0;
	border:0;
}

.selectableHover
{
	background:#BFBFBF;
	font-weight:bold;
}

tr.selectable:hover
{
	background:#DFDFDF;
}

img.selectableAlbum
{
	border:.25em solid #FFFFFF;
	border-radius:6px;
}

img.selectableAlbum:hover
{
	border:.25em solid orange;
	border-radius:6px;
}

img.selectableAlbumHover{
	border:.25em solid orange;
	border-radius:6px;
}

#now
{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:22%;
	/*border-top:.15em solid #DDDDDD;*/
	/*border-bottom:.15em solid #DDDDDD;*/
}

#nowArt
{
	position:absolute;
	top:0;
	right:0;
	height:81%;
	z-index:-1;
}

#controlls
{
	position:absolute;
	width:100%;
	height:12%;
    padding:.5% 0 .5% 0;
	bottom:0px;
	left:0;
	margin:0;
    background:#333;
	border-top:solid .15em orange;
}

#prevButton
{
	position:absolute;
	width:3%;
	left:.5%;
	padding:0;
	margin:0;
	cursor:pointer; cursor:hand;
}

#playPauseButton
{
	position:absolute;
	top:0;
	width:2%;
	left:4%;
	padding:0;
	margin:0;
	cursor:pointer; cursor:hand;
	
}

#nextButton
{
	position:absolute;
	width:3%;
	left:6.5%;
	padding:0;
	margin:0;
	cursor:pointer; cursor:hand;
}

#progressBackground
{
	position:absolute;
	width:60%;
	height:22%;
	left:10%;
    top:25%;
	background:#06D;
	border-radius: 90px;
    border:solid .25em #06D;
	cursor:pointer;
    cursor:hand;
}

#progressBar
{
	position:relative;
	left:0;
	width:1%;
	height:100%;
	background:#FFF;
	border-radius: 90px;
}

#songTime
{
	position:absolute;
	left:71%;
	text-align:center;
	color:#FFF;
}

